/*** html and body tags ***/
html {
	height: 100%;
	/* better font smoothing on Mac webkit: maxvoltar.com/archive/-webkit-font-smoothing */
	-webkit-font-smoothing: antialiased;
	/* stops mobile from making bad decisions about enlarging text */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #F5F5F5;
}

/*** body container ***/
#container {
	/* width: 1000px; */
	width: 600px;
	margin: 0 auto;
}

/*** divs and display ***/
h1 {
	margin: 10px 0 20px 0;
	text-shadow: 1px 1px 2px #AAAAAA;
}
h3 {
	text-shadow: 1px 1px 2px #CCCCCC;
}
.hide { display: none; }
.clear { clear: both; }
.marginSlim { margin: 2px; }
.marginBottomSlim { margin-bottom: 15px; }
.marginBottom { margin-bottom: 20px; }
.marginLeft { margin-left: 20px; }
.marginRight { margin-right: 20px; }
.right { text-align: right; }
.left { text-align: left; }

/*** tables ***/
table tr td {
	padding: 4px;
}
table.rowDivider tr td {
	padding: 6px 3px 10px 3px;
	border-bottom: 1px dashed #AAAAAA;
}
table.rowDivider tr:last-child td {
	border-bottom: 0;
	padding-bottom: 0;
}

/*** buttons ***/
input[type=button] {
	background: #FFCC00 url("../images/button.png") repeat-x;
	border: 2px solid #CCA300;
	border-radius: 5px;
	padding: 3px 5px;
	cursor: pointer;
	color: #000000;
	margin: 0 5px 0 0;
}
input[type=button]:active {
	background: #CCA300 url("../images/button-active.png") repeat-x;
}

/*** yeti ***/
div.yetiBackground {
	z-index: 8;
	background-color: #000000;
	opacity: .80;
	filter: alpha(opacity=80);
	width: 100%;
	height: 100%;
}
/* if padding/border width are modified, JS in main.js must also be updated! */
div.yeti {
	overflow: auto;
	z-index: 9;
	padding: 10px;
	margin: 0;
	background: #FFFFFF;
	box-shadow: 0 0 4px 4px #CCCCCC;
}
div.yeti h3 { margin-top: 0; }
div.yeti input[type=button] { margin: 5px 20px 0 0; }
div.yetiContent { margin: 8px; }

/*** fields ***/
ul.form, ul.form li,
ul.normal, ul.normal li {
	margin: 0;
	padding: 0;
}
ul.form {
	float: left;
	margin-right: 50px;
}
ul.form li, ul.normal li {
	list-style: none outside none;
	margin-bottom: 3px;
}
fieldset {
	float: left;
	margin: 0 10px 10px 0;
	padding: 10px;
	border-radius: 10px;
}
legend {
	font-weight: bold;
	color: #666666;
}
label {
	float: left;
	width: 100px;
	color: #666666;
	padding-top: 8px;
	margin-right: 10px;
}
input[type=text] {
	margin: 3px;
}
input {
	font-size: 15px;
}

/*** spans that look like <a> links ***/
.spanLink {
	cursor: pointer;
	color: #0066FF;
	text-decoration: underline;
}
.spanLinkColorless {
	cursor: pointer;
	text-decoration: underline;
}
.spanLink:hover, .spanLinkColorless:hover {
	cursor: pointer;
	color: #666666;
	text-decoration: none;
}

/*** text ***/
.spanGreen, .spanRed, .spanGray, .spanGrayLight, .spanYellow {
	padding: 3px 5px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #999999;
}
.spanGreen { background: #7CA34D; }
.spanRed { background: #AA0000; }
.spanGray { background: #666666; }
.spanGrayLight { background: #999999; }
.spanYellow { background: #CCA300; }

/*** board containers ***/
#NewPlayers {
	width: 100px;
	display: inline-block;
	margin: 0 18px 0 10px;
}
#Player {
	font-weight: bold;
}
#Meta {
	display: none;
	float: right;
	padding-top: 8px;
}
#Board, #Turn {
	display: none;
	overflow: hidden;
	border-radius: 10px;
}
#Board {
	margin-bottom: 20px;
}
#Turn {
	background: #FFFFFF;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 15px;
	box-shadow: 1px 1px 2px #999999;
}
#Hills, #Tiles {
	float: left;
}
#Hills {
	width: 160px;
	margin-left: 5px;
}
#Tiles {
	/* width: 785px; */
	width: 430px;
	margin-left: 5px;
}

/*** turn display ***/
.turnBox {
	float: left;
	margin: 7px 10px 0 0;
}
.turnBoxRight {
	float: right;
}

/*** animation keyframes ***/
@-webkit-keyframes tileMovePulse {
	0% { opacity: 0.3; }
	100% { opacity: 0.9; }
}
@-moz-keyframes tileMovePulse {
	0% { opacity: 0.3; }
	100% { opacity: 0.9; }
}
@keyframes tileMovePulse {
	0% { opacity: 0.3; }
	100% { opacity: 0.9; }
}

/*** board hills and tiles ***/
.hill {
	height: 168px;
	margin: 5px 2px 5px 0;
	overflow: hidden;
	background: #FFFFFF url("../images/hill1.jpg") no-repeat;
	border: 2px solid #999999;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #999999;
	opacity: 0.5;
}
.tileCol {
	float: left;
	width: 85px;
}
.tile {
	height: 50px;
	margin: 5px 2px;
	overflow: hidden;
	background: #C6D9AF;
	border: 2px solid #7CA34D;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #7CA34D;
	cursor: pointer !important;
	opacity: 1;
}
.tileActive {
	background: #FFFFFF;
}
.hillActive {
	opacity: 1;
}
.hillInactive {
	background: #BBBBBB;
	box-shadow: none;
	opacity: 0.3;
}
.hillText {
	color: #666666;
}
.tileText {
	padding: 0 0 3px 0;
}
.hillName {
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 3px 10px;
	text-shadow: 1px 1px 2px #CCCCCC;
}
.hillName, .tileFood {
	overflow: hidden;
	font-size: 20px;
}
.hillFood, .hillQueens {
	margin-bottom: 5px;
	padding: 5px;
	text-shadow: 1px 1px 2px #CCCCCC;
	font-size: 20px;
}
.hillWorkersWrapper {
	padding: 10px 0px 0px 0;
}
.hillWorkers {
	float: left;
	background: url("../images/ant-hill.jpg") no-repeat scroll 0 0 transparent;
	font-size: 20px;
	height: 44px;
	width: 75px;
	border: 2px solid #AAAAAA;
	border-width: 1px 1px 0 0;
	border-radius: 0 10px 0 0;
	cursor: move;
}
.hillWorkersText {
	margin: -5px 0 0 5px;
}
.hillWrapper {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	padding: 4px 5px;
	border-radius: 5px;
}
.hillInactive .hillWrapper {
	background: none;
}
.hillInactive .hillText {
	color: #666666;	
}
.hillActive .hillWrapper {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
}
.hillActive .hillText {
	color: #333333;	
}
.hillActive .hillName, .hillActive .hillFood, 
.hillActive .hillQueens {
	font-weight: bold;
}
.tileFood {
	float: right;
	background: none repeat scroll 0 0 #7CA34D;
	border-radius: 0 0 0 6px;
	box-shadow: 0 0 2px #7CA34D;
	height: 20px;
	padding: 4px 3px 1px 4px;
	font-size: 18px;
	line-height: 16px;
	color: #FFFFFF;
}
.tileAnts {
	clear: both;
	padding: 3px 0 0 5px;
	font: bold 16px/14px Arial, Helvetica, sans-serif;
	color: #999999;
}
.tileAnts span:first-child {
	color: #000000;
}
.hillMove, .tileMove {
	-webkit-animation: tileMovePulse 1s infinite alternate;
	-moz-animation: tileMovePulse 0.8s infinite alternate;
	animation: tileMovePulse 1s infinite alternate;
}
.tileMove {
	background: #FFCC00;
	border-color: #CCA300;
}
.tileMove .tileFood {
	background: none repeat scroll 0 0 #CCA300;
	box-shadow: 0 0 2px #CCA300;
}
/* only matches if both classes exist */
.hillMove.hillDrop, .tileMove.tileDrop {
	background: #DDDDDD;
	border-color: #AAAAAA;
}
.tileDrop .tileFood {
	background: none repeat scroll 0 0 #AAAAAA;
	box-shadow: 0 0 2px #CCCCCC;
}

/*** icons ***/
.iconFood {
	display: inline-block;
	height: 16px;
	width: 16px;	
	background-image: url("../images/cake-black.png");
}
.iconQueen {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url("../images/crown-black.png");
}
.iconAnt {
	float: left;
	height: 30px;
	width: 38px;
	background-image: url("../images/ant-tile.jpg");
	cursor: move;
}
.iconDragging {
	z-index: 10;
	border: 3px solid #CCA300;
	border-radius: 5px;
}

/*** jQuery ***/
.ui-state-disabled {
	opacity: 1;
}
a.ui-slider-handle {
	text-decoration: none;
	text-align: center;
	padding-bottom: 2px;
}
